body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: "Arial Black", "Segoe UI", sans-serif;
}

.container {
  text-align: center;
}

h1 {
  font-size: 4vw;
  margin-bottom: 20px;
  color: #333;
}

#painel {
  font-size: 25vw;
  font-weight: bold;
  color: #000;
}

#atualizacao {
  margin-top: 20px;
  font-size: 2vw;
  color: #555;
}
